// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary-color: #B7B6A4;
$secondary-color: #D4B2A6;
$secondary-color-hover: #c99987;
$card-color: #FFF7F0;
$beige-color: #FEE9D8;
$beige-hover-color: #f1d1b5
