// Import page-specific CSS files here.
@import "home";

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff7f0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}

.tops-selections,
.bottoms-selections,
.Dresses-selections,
.shoes-selections {
  padding: 10px;
}

h3 {
  margin: 0;
}
