.h150 {
  height: 150px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff7f0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}

.items-selections {
  padding: 10px;
}

h3 {
  margin: 0;
}

.card-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.filter-sort {
  margin-bottom: 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.filter-row {
  display: flex;
  justify-content: space-between;
}

.filter-item {
  flex-grow: 1;
  margin-right: 5px;
  font-size: 12px;
}

.filter-sort {
  margin-bottom: 20px;
}

.beige-button {
  padding: 5px 0;
  width: 100%;
}

.black-heading {
  color: black;
  text-shadow: none;
  font-weight: normal; /* Remove the bold style */
  font-size: 19px;
  margin-top: 20px;

}

.card-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  border-radius: 10px; /* Add this line for rounded corners */
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0;
  padding: 0;
  object-position: center;
  height: 100%;
  margin-bottom: 10px;
  padding: 0px;
  overflow: hidden;
  border-radius: 10px; /* Add this line for rounded corners */

}

.card-details {
  font-family: $body-font, "Work Sans", "Helvetica", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: none; /* Add this line to remove the shadow box */

}

.card-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

//.card-details .card-title:hover {
 // color: $secondary-color-hover;
  //transition: color 0.5s;
//}

.card-p {
  font-size: 12px;
  margin-bottom: 3px;
}

.card-image-no-border {
  border: none;
}

.card-details-small {
  font-family: $body-font;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}


//.card-details-small .card-title:hover {
  //color: $secondary-color-hover;
  //transition: color 0.5s;
//}
