.tag-item {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $card-color;
  color: $gray;
  border: 1px solid $secondary-color;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  font-size: 14px;

}

.tag-selector:checked + label {
  background-color: $secondary-color;
  color: $card-color;
  color: black;

}
