.bg-landing {
  background-image: asset-url("pastel-backround.jpeg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  img {
    height: 180px;
    object-fit: cover;
  }
}

.container-landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.start-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure the container takes up the full viewport height */
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 20px; /* Adjust this value to set the distance from the bottom */
  //margin-top: auto; /* Pushes the container to the bottom of the parent */
  text-align: center;
}

.page-container {
  height: 100%;
  overflow: hidden;}
