.cropped-top {
  height: 145px;
  object-fit: scale-down;
  border-radius: 5px 5px 0 0;
}

.cropped-bottoms {
  height: 145px;
  object-fit: scale-down;
}

.cropped-shoes {
  height: 140px;
  object-fit: scale-down;
}

.search-container-outfits {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  margin-top: -7px; /* Adjust the negative margin-top value to position the search bar higher */

}
