.cropped-tops {
  height: 120px;
  object-fit: scale-down;
  border-radius: 5px 5px 0 0;
}

.cropped-bottoms {
  height: 150px;
  object-fit: scale-down;
}

.cropped-shoes {
  height: 100px;
  object-fit: scale-down;
}

.cropped-dresses {
  height: 300px;
  object-fit: scale-down;
}

.search-container-outfits {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  margin-top: -7px; /* Adjust the negative margin-top value to position the search bar higher */
}

.remove-outfit-link {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0.6;

  height: 40px;
  width: 40px;
  text-align: end;
}

.outfit-type {
  display: flex;
}
