.cropped-tops {
  height: 120px;
  object-fit: scale-down;
  border-radius: 5px 5px 0 0;
}

.cropped-bottoms {
  height: 150px;
  object-fit: scale-down;
}

.cropped-shoes {
  height: 100px;
  object-fit: scale-down;
}

.cropped-dresses {
  height: 300px;
  object-fit: scale-down;
}

.search-container-outfits {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  margin-top: -7px; /* Adjust the negative margin-top value to position the search bar higher */
}

.remove-outfit-link {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0.6;
}

.outfit-type {
  display: flex;
}

.lock {
  margin-top: 0;
  margin-bottom: 1rem;
  position: absolute;
  z-index: 1;
  left: 60%;
  top: 50;
    i.fa-unlock {
      color: $primary-color
    }
    i.fa-lock {
      color: $secondary-color-hover
    }
}
