.outfits-list {
  height: 120px;
}

.sub-header {
  margin-top: 8px;
}

html, body {
  height: 100%;
  margin: 0;
}

.outfits-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  border-radius: 10px;
}

.outfits {
  background-color: $light-gray;
  height: 510px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 6px;
}

.card-content {
  padding: 20px;
}

.outfits-content p {
  font-size: 12px;
}

.outfit-image {
  object-fit: scale-down;
  height: 150px;
}
