.outfits-list {
  height: 120px;
}

.sub-header {
  margin-top: 8px;
}

html, body {
  height: 100%;
  margin: 0;
}

.outfits-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  border-radius: 10px;
}

.card-content {
  padding: 20px;
}

.outfits-content p {
  font-size: 12px;
}

.outfit-image {
  object-fit: scale-down;
  height: 150px;
  width: 100%;
}

.remove-item {
  position: absolute;
  top: 10px;
  right: 12px;
  opacity: 0.6;
}
