<div class="banner">
  <h1>My Outfits</h1>
</div>

  <h2>Evening Out</h2>
  <div class="card-details">
    <div class="outfits-list">
      <!-- Add content for My Items here -->
    </div>
  </div>

  <h2>Casual</h2>
  <div class="card-details">
    <div class="outfits-list">
      <!-- Add content for My Outfits here -->
    </div>
  </div>
</div>

  <h2>Sporty</h2>
  <div class="card-details">
    <div class="outfits-list">
      <!-- Add content for My Outfits here -->
    </div>
  </div>
</div>
