<div class="banner">
  <h1>My Outfits</h1>
</div>

<div class="search-container">
  <%= form_with(url: items_path, method: :get, class: "search-form") do |f| %>
    <%= f.search_field :query, class: "search-field", placeholder: "Search items..." %>
    <%= f.submit "Search", class: "search-button" %>
  <% end %>
</div>

<div class="sub-header">
  <h2>Evening Out</h2>
    <div class="card-details">
      <div class="outfits-list">
      <!-- Add content for My Items here -->
    </div>
  </div>

<div class="sub-header">
  <h2>Casual</h2>
    <div class="card-details">
      <div class="outfits-list">
      <!-- Add content for My Outfits here -->
    </div>
  </div>
</div>

  <h2>Sporty</h2>
  <div class="card-details">
    <div class="outfits-list">
      <!-- Add content for My Outfits here -->
    </div>
  </div>
</div>
