<div class="banner">
  <h1>My Outfits</h1>
</div>

  <div class="card-details">
    <h2>My Items</h2>
    <div class="items-list">
      <!-- Add content for My Items here -->
    </div>
  </div>

  <div class="card-details">
    <h2>My Outfits</h2>
    <div class="items-list">
      <!-- Add content for My Outfits here -->
    </div>
  </div>
</div>
