<div class="banner">
  <%= image_tag("dressd-logo.png", alt: "Logo", class: "banner-logo") %>
  <h1>Shnai's Profile</h1>
</div>

<div class="container">
  <div class="header-weather">
    <div class="logo">
      <%= image_tag("weather.png", alt: "Logo", class: "logo-image") %>
    </div>
    <p class="pink-button">Cloudy with a chance of rain</p>
  </div>

  <div class="button-container">
    <div class="left-button">
      <%= link_to "Dress Me", new_outfit_path, class: "beige-button" %>
    </div>
    <div class="right-button">
      <button class="beige-button">Friends</button>
    </div>
  </div>

  <div class="card-details">
    <h2>My Items</h2>
    <div class="items-list">
      <!-- Add content for My Items here -->
    </div>
  </div>

  <div class="card-details">
    <h2>My Outfits</h2>
    <div class="items-list">
      <!-- Add content for My Outfits here -->
    </div>
  </div>
</div>
