<div class="banner">
  <h1>My profile</h1>
</div>

<div class="weather-logo">
  <%= image_tag("weather.png", alt: "Logo", class: "logo-image") %>
</div>

<div class="weather-button">
  <%= link_to "Cloudy with a chance of rain", root_path, class: "back-button" %>
</div>

<div class="dress-me-button">
  <%= link_to "Dress Me", root_path, class: "back-button" %>
</div>

<div class="friends-button">
  <%= link_to "Friends", root_path, class: "back-button" %>
</div>


<div class="items-details">
  <h3>My Items</h3>
</div>

<div class="outfit-details">
  <h3>My Outfits</h3>
</div>
