.button {
  padding: 12px 16px;
  font-size: 18px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  color: $primary-color;
  transition: color .5s;
}

  .pink-button {
  padding: 8px 0;
  width: 100%;
  font-size: 16px;
  background-color: $secondary-color;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: $body-font;
  text-decoration: none;
  transition: background-color 1s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pink-button:hover {
  background-color: $beige-color;
  color: black;
}

.beige-button {
  padding: 8px 0;
  width: 100%;
  font-size: 16px;
  background-color: $beige-color;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: $body-font;
  text-decoration: none;
  transition: background-color 1s; /* Transition duration of 1 second */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.beige-button:hover {
  background-color: $primary-color;
  color: black;
}

.beige-pink-button {
  padding: 8px 0;
  width: 100%;
  font-size: 16px;
  background-color: $beige-color;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: $body-font;
  text-decoration: none;
  transition: background-color 1s; /* Transition duration of 1 second */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.beige-pink-button:hover {
  background-color: $secondary-color;
  color: black;
}

.green-button {
  padding: 8px 0;
  width: 100%;
  font-size: 16px;
  background-color: $primary-color;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: $body-font;
  text-decoration: none;
  transition: background-color 1s; /* Transition duration of 1 second */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-button:hover {
  background-color: $beige-color;
  color: black;
}
