.button {
  padding: 12px 16px;
  font-size: 18px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  color: $primary-color;
  transition: color .5s;
}

.pink-button {
  padding: 12px 0;
  width: 100%;
  font-size: 18px;
  background-color: $secondary-color;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: $body-font;
  text-decoration: none;
  transition: background-color 1s; /* Transition duration of 1 second */
}

.weather-button:hover {
  background-color: $beige-color;
  color: black;
}

.beige-button {
  padding: 12px 0;
  width: 100%;
  font-size: 18px;
  background-color: $beige-color;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: $body-font;
  text-decoration: none;
  transition: background-color 1s; /* Transition duration of 1 second */

}

.beige-button:hover {
  background-color: $primary-color;
  color: black;
}
