.items-details {
  margin-top: 10px;
  background-color: $card-color;
  padding: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.outfit-details  {
  margin-top: 10px;
  background-color: $card-color;
  padding: 100px;
  margin-bottom: 60px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
