
.card-details {
  background-color: #F4F4F4;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  //transition: transform 0.3s;

  .items-list {
    height: 170px;
  }
}

//.card-details:hover {
 // transform: scale(1.05);
  //padding: 10px;
  //border-radius: 10px;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//}

.new-card {

height: fit-content;
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .items-list {
    height: 170px;
  }
}


//.new-card:hover {
  //transform: scale(1.05);
  //padding: 10px;
  //border-radius: 10px;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//}

.card-details-small {
  background-color: $light-gray;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

 .items-list {
   height: 170px;
 }

.h200 {
  height: 200px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.outfit-card {
  background-color: #F4F4F4;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.outfit-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  // height: 200px;

  // .outfits {
  //   box-shadow: none;
  // }
}

.card-home-details {
  height: fit-content;
}
