.navbar {
  justify-content: space-between;
  background: $primary-color;
  padding: 10px;
  border-radius: 0 0 0 0;
  position: fixed;
  width: 393px;
  bottom: 0;
}

.navbar i {
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
